/* write your override styles here */

#wall .tag-1 {
  display: none;
}

div#wall #tag-4 {
  position: relative;
  z-index: 6;
  width: 100%;
  height: 500px;
}

div#wall #tag-7 {
  z-index: 8;
  width: 100%;
  height: 500px;
}
