/* write your override styles here */

#wall .tag-1 {
  display: none;
}

div#wall #tag-4 {
  position: relative;
  z-index: 6;
  width: 100%;
  height: 500px;
  display: none;
}



div#wall, #tag-1, #tag-2,#tag-3, #tag-5, #tag-6, #tag-8{
  display: none;
}

div#div .slick {
 z-index: 10;
}
