/* write your override styles here */

#wall .tag-1 {
  display: none;
}

div#wall #tag-4 {
  position: relative;
  z-index: 6;
  width: 100%;
  height: 500px;
  display: none;
}

div#wall #tag-2 {
  width: 99%;
  height: 500px;
}

div#div .slick {
 z-index: 10;
}
